# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Urine
df = pd.read_csv('UrineCateg_Methylome_Female.csv')
print(df.shape)
df.head(2)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Urine
(150, 11017)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,SCOPA_Urine_Category,cg08012045,cg08300930,...,cg16839933,cg00481999,cg16533561,cg11773570,cg22912011,cg02944422,cg24822140,cg10840597,cg20350952,cg08656747
0,200973410159_R03C01,3000,2,2,0,69.1,4,1,0.964598,0.960974,...,0.227529,0.404628,0.784774,0.287128,0.260995,0.367307,0.166336,0.899156,0.774554,0.453867
1,200991620021_R03C01,3002,2,1,2,67.6,4,1,0.952757,0.970714,...,0.232653,0.357154,0.807268,0.314678,0.244913,0.347417,0.121603,0.923040,0.735951,0.457544

In [3]:
df1 = df.drop(['Sentrix','PATNO','HYS','Gender','SCOPA_Urine_Category','Age','AgeCate'], axis=1)
df1.head(2)

,APPRDX,cg08012045,cg08300930,cg00134295,cg10537824,cg04990650,cg03379001,cg02215627,cg06699201,cg18100935,...,cg16839933,cg00481999,cg16533561,cg11773570,cg22912011,cg02944422,cg24822140,cg10840597,cg20350952,cg08656747
0,2,0.964598,0.960974,0.241886,0.852113,0.765526,0.856057,0.874673,0.798285,0.893820,...,0.227529,0.404628,0.784774,0.287128,0.260995,0.367307,0.166336,0.899156,0.774554,0.453867
1,1,0.952757,0.970714,0.227504,0.860591,0.836116,0.863656,0.885796,0.741853,0.879686,...,0.232653,0.357154,0.807268,0.314678,0.244913,0.347417,0.121603,0.923040,0.735951,0.457544

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6333333333333333
2
Mean accuracy: 0.5833333333333333
3
Mean accuracy: 0.4
4
Mean accuracy: 0.4666666666666667
5
Mean accuracy: 0.45
6
Mean accuracy: 0.4833333333333333
7
Mean accuracy: 0.4666666666666666
8
Mean accuracy: 0.6333333333333333
9
Mean accuracy: 0.6166666666666667
10
Mean accuracy: 0.4333333333333333
11
Mean accuracy: 0.4833333333333333
12
Mean accuracy: 0.5333333333333333
13
Mean accuracy: 0.5833333333333333
14
Mean accuracy: 0.5333333333333333
15
Mean accuracy: 0.5499999999999999
16
Mean accuracy: 0.5
17
Mean accuracy: 0.6166666666666666
18
Mean accuracy: 0.5
19
Mean accuracy: 0.5833333333333333
20
Mean accuracy: 0.55
21
Mean accuracy: 0.5333333333333333
22
Mean accuracy: 0.4666666666666666
23
Mean accuracy: 0.5833333333333334
24
Mean accuracy: 0.4999999999999999
25
Mean accuracy: 0.5499999999999999
26
Mean accuracy: 0.6333333333333333
27
Mean accuracy: 0.5666666666666667
28
Mean accuracy: 0.5333333333333333
29
Mean accuracy: 0.6000000000000001
30
Mean accuracy: 0.4333333333333333
31
Mean accuracy: 0.6
32
Mean accuracy: 0.5333333333333334
33
Mean accuracy: 0.5
34
Mean accuracy: 0.31666666666666665
35
Mean accuracy: 0.5166666666666666
36
Mean accuracy: 0.6
37
Mean accuracy: 0.4333333333333333
38
Mean accuracy: 0.4833333333333333
39
Mean accuracy: 0.5333333333333334
40
Mean accuracy: 0.4999999999999999
41
Mean accuracy: 0.55
42
Mean accuracy: 0.4833333333333333
43
Mean accuracy: 0.6333333333333333
44
Mean accuracy: 0.5833333333333333
45
Mean accuracy: 0.5666666666666667
46
Mean accuracy: 0.5666666666666667
47
Mean accuracy: 0.6166666666666666
48
Mean accuracy: 0.5166666666666667
49
Mean accuracy: 0.4833333333333334
50
Mean accuracy: 0.55
51
Mean accuracy: 0.7
52
Mean accuracy: 0.4999999999999999
53
Mean accuracy: 0.45
54
Mean accuracy: 0.5166666666666666
55
Mean accuracy: 0.4833333333333333
56
Mean accuracy: 0.6
57
Mean accuracy: 0.4499999999999999
58
Mean accuracy: 0.5
59
Mean accuracy: 0.6166666666666667
60
Mean accuracy: 0.45
61
Mean accuracy: 0.5666666666666667
62
Mean accuracy: 0.4833333333333334
63
Mean accuracy: 0.7
64
Mean accuracy: 0.5999999999999999
65
Mean accuracy: 0.5
66
Mean accuracy: 0.5999999999999999
67
Mean accuracy: 0.6166666666666666
68
Mean accuracy: 0.4333333333333333
69
Mean accuracy: 0.5333333333333334
70
Mean accuracy: 0.5333333333333333
71
Mean accuracy: 0.5666666666666667
72
Mean accuracy: 0.6000000000000001
73
Mean accuracy: 0.35
74
Mean accuracy: 0.4999999999999999
75
Mean accuracy: 0.5
76
Mean accuracy: 0.55
77
Mean accuracy: 0.4999999999999999
78
Mean accuracy: 0.6
79
Mean accuracy: 0.45
80
Mean accuracy: 0.4833333333333333
81
Mean accuracy: 0.5833333333333333
82
Mean accuracy: 0.4666666666666666
83
Mean accuracy: 0.45
84
Mean accuracy: 0.5333333333333333
85
Mean accuracy: 0.5666666666666667
86
Mean accuracy: 0.4666666666666666
87
Mean accuracy: 0.5166666666666666
88
Mean accuracy: 0.5
89
Mean accuracy: 0.5833333333333334
90
Mean accuracy: 0.6
91
Mean accuracy: 0.5666666666666667
92
Mean accuracy: 0.5833333333333334
93
Mean accuracy: 0.5666666666666667
94
Mean accuracy: 0.5666666666666667
95
Mean accuracy: 0.4666666666666667
96
Mean accuracy: 0.6
97
Mean accuracy: 0.45
98
Mean accuracy: 0.5166666666666667
99
Mean accuracy: 0.4
100
Mean accuracy: 0.4333333333333333

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Urine_AllCpG_Female_100RF.csv", index = False)

0.5291666666666671

## RanFor 1000 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6333333333333334
2
Mean accuracy: 0.5666666666666667
3
Mean accuracy: 0.4833333333333333
4
Mean accuracy: 0.65
5
Mean accuracy: 0.5999999999999999
6
Mean accuracy: 0.5666666666666667
7
Mean accuracy: 0.5666666666666667
8
Mean accuracy: 0.55
9
Mean accuracy: 0.4833333333333333
10
Mean accuracy: 0.6666666666666666
11
Mean accuracy: 0.55
12
Mean accuracy: 0.55
13
Mean accuracy: 0.6333333333333333
14
Mean accuracy: 0.6000000000000001
15
Mean accuracy: 0.5666666666666667
16
Mean accuracy: 0.4333333333333333
17
Mean accuracy: 0.4166666666666667
18
Mean accuracy: 0.55
19
Mean accuracy: 0.6166666666666666
20
Mean accuracy: 0.5666666666666667
21
Mean accuracy: 0.4833333333333332
22
Mean accuracy: 0.5
23
Mean accuracy: 0.5000000000000001
24
Mean accuracy: 0.5499999999999999
25
Mean accuracy: 0.6166666666666666
26
Mean accuracy: 0.4833333333333333
27
Mean accuracy: 0.4333333333333333
28
Mean accuracy: 0.4833333333333334
29
Mean accuracy: 0.75
30
Mean accuracy: 0.45
31
Mean accuracy: 0.5166666666666666
32
Mean accuracy: 0.4833333333333332
33
Mean accuracy: 0.4499999999999999
34
Mean accuracy: 0.5166666666666667
35
Mean accuracy: 0.5
36
Mean accuracy: 0.4333333333333333
37
Mean accuracy: 0.5833333333333333
38
Mean accuracy: 0.5333333333333333
39
Mean accuracy: 0.5333333333333333
40
Mean accuracy: 0.5333333333333333
41
Mean accuracy: 0.5333333333333333
42
Mean accuracy: 0.7
43
Mean accuracy: 0.5833333333333333
44
Mean accuracy: 0.5333333333333334
45
Mean accuracy: 0.6166666666666667
46
Mean accuracy: 0.6
47
Mean accuracy: 0.5499999999999999
48
Mean accuracy: 0.5833333333333333
49
Mean accuracy: 0.55
50
Mean accuracy: 0.5833333333333334
51
Mean accuracy: 0.5833333333333333
52
Mean accuracy: 0.5166666666666667
53
Mean accuracy: 0.55
54
Mean accuracy: 0.4666666666666667
55
Mean accuracy: 0.4666666666666666
56
Mean accuracy: 0.4333333333333333
57
Mean accuracy: 0.4666666666666666
58
Mean accuracy: 0.5666666666666667
59
Mean accuracy: 0.4666666666666666
60
Mean accuracy: 0.4833333333333333
61
Mean accuracy: 0.5166666666666667
62
Mean accuracy: 0.6333333333333333
63
Mean accuracy: 0.4499999999999999
64
Mean accuracy: 0.5833333333333333
65
Mean accuracy: 0.45
66
Mean accuracy: 0.5
67
Mean accuracy: 0.5333333333333333
68
Mean accuracy: 0.4833333333333333
69
Mean accuracy: 0.4666666666666666
70
Mean accuracy: 0.4833333333333334
71
Mean accuracy: 0.5666666666666667
72
Mean accuracy: 0.45
73
Mean accuracy: 0.4833333333333333
74
Mean accuracy: 0.6833333333333333
75
Mean accuracy: 0.4833333333333333
76
Mean accuracy: 0.5333333333333333
77
Mean accuracy: 0.5166666666666666
78
Mean accuracy: 0.4666666666666667
79
Mean accuracy: 0.4666666666666666
80
Mean accuracy: 0.4666666666666667
81
Mean accuracy: 0.4
82
Mean accuracy: 0.6666666666666666
83
Mean accuracy: 0.5333333333333334
84
Mean accuracy: 0.5666666666666667
85
Mean accuracy: 0.39999999999999997
86
Mean accuracy: 0.5166666666666667
87
Mean accuracy: 0.5833333333333334
88
Mean accuracy: 0.5333333333333334
89
Mean accuracy: 0.4833333333333333
90
Mean accuracy: 0.65
91
Mean accuracy: 0.6
92
Mean accuracy: 0.55
93
Mean accuracy: 0.4666666666666667
94
Mean accuracy: 0.5666666666666667
95
Mean accuracy: 0.5
96
Mean accuracy: 0.45
97
Mean accuracy: 0.55
98
Mean accuracy: 0.4666666666666666
99
Mean accuracy: 0.4666666666666666
100
Mean accuracy: 0.65

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Urine_Rand50CpG_Female_100RF.csv", index = False)

0.5323333333333334

## RanFor 100 times. Samples = 91

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(91, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6500000000000001
2
Mean accuracy: 0.5833333333333334
3
Mean accuracy: 0.4833333333333333
4
Mean accuracy: 0.5666666666666667
5
Mean accuracy: 0.5333333333333334
6
Mean accuracy: 0.4666666666666667
7
Mean accuracy: 0.5833333333333334
8
Mean accuracy: 0.5
9
Mean accuracy: 0.6666666666666667
10
Mean accuracy: 0.6000000000000001
11
Mean accuracy: 0.5833333333333333
12
Mean accuracy: 0.5666666666666667
13
Mean accuracy: 0.5833333333333334
14
Mean accuracy: 0.5666666666666667
15
Mean accuracy: 0.6833333333333333
16
Mean accuracy: 0.4833333333333333
17
Mean accuracy: 0.6
18
Mean accuracy: 0.5
19
Mean accuracy: 0.5666666666666667
20
Mean accuracy: 0.65
21
Mean accuracy: 0.55
22
Mean accuracy: 0.4833333333333334
23
Mean accuracy: 0.4
24
Mean accuracy: 0.5333333333333332
25
Mean accuracy: 0.6833333333333333
26
Mean accuracy: 0.45
27
Mean accuracy: 0.5
28
Mean accuracy: 0.5166666666666667
29
Mean accuracy: 0.6166666666666667
30
Mean accuracy: 0.4833333333333333
31
Mean accuracy: 0.5666666666666667
32
Mean accuracy: 0.55
33
Mean accuracy: 0.55
34
Mean accuracy: 0.5666666666666667
35
Mean accuracy: 0.45
36
Mean accuracy: 0.2833333333333333
37
Mean accuracy: 0.4666666666666666
38
Mean accuracy: 0.6
39
Mean accuracy: 0.5499999999999999
40
Mean accuracy: 0.6166666666666666
41
Mean accuracy: 0.4333333333333333
42
Mean accuracy: 0.7
43
Mean accuracy: 0.5999999999999999
44
Mean accuracy: 0.4833333333333334
45
Mean accuracy: 0.6166666666666666
46
Mean accuracy: 0.6
47
Mean accuracy: 0.4666666666666667
48
Mean accuracy: 0.6166666666666666
49
Mean accuracy: 0.5333333333333334
50
Mean accuracy: 0.6166666666666666
51
Mean accuracy: 0.5833333333333333
52
Mean accuracy: 0.55
53
Mean accuracy: 0.4333333333333333
54
Mean accuracy: 0.5833333333333333
55
Mean accuracy: 0.5166666666666667
56
Mean accuracy: 0.4666666666666667
57
Mean accuracy: 0.5333333333333333
58
Mean accuracy: 0.55
59
Mean accuracy: 0.41666666666666663
60
Mean accuracy: 0.4499999999999999
61
Mean accuracy: 0.4833333333333333
62
Mean accuracy: 0.5666666666666667
63
Mean accuracy: 0.5
64
Mean accuracy: 0.5666666666666667
65
Mean accuracy: 0.4833333333333333
66
Mean accuracy: 0.5833333333333334
67
Mean accuracy: 0.4333333333333333
68
Mean accuracy: 0.55
69
Mean accuracy: 0.4666666666666667
70
Mean accuracy: 0.41666666666666663
71
Mean accuracy: 0.6333333333333332
72
Mean accuracy: 0.5333333333333334
73
Mean accuracy: 0.5666666666666667
74
Mean accuracy: 0.7
75
Mean accuracy: 0.4666666666666666
76
Mean accuracy: 0.6
77
Mean accuracy: 0.5333333333333333
78
Mean accuracy: 0.41666666666666663
79
Mean accuracy: 0.4833333333333333
80
Mean accuracy: 0.4666666666666667
81
Mean accuracy: 0.4333333333333333
82
Mean accuracy: 0.5166666666666667
83
Mean accuracy: 0.5833333333333334
84
Mean accuracy: 0.5833333333333333
85
Mean accuracy: 0.4333333333333333
86
Mean accuracy: 0.5166666666666666
87
Mean accuracy: 0.4833333333333334
88
Mean accuracy: 0.45
89
Mean accuracy: 0.4833333333333333
90
Mean accuracy: 0.5666666666666667
91
Mean accuracy: 0.55
92
Mean accuracy: 0.45
93
Mean accuracy: 0.5833333333333333
94
Mean accuracy: 0.4333333333333333
95
Mean accuracy: 0.5333333333333334
96
Mean accuracy: 0.4333333333333334
97
Mean accuracy: 0.5333333333333333
98
Mean accuracy: 0.4
99
Mean accuracy: 0.5166666666666667
100
Mean accuracy: 0.5333333333333333

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Urine_Rand91CpG_Female_100RF.csv", index = False)

0.5305000000000001

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('Urine_Boruta_Top50_Data_Female.csv')
print(df.shape)
df.head(2)

(150, 52)

,PATNO,APPRDX,cg07567767,cg07150866,cg21230719,cg11499262,cg22982510,cg06893785,cg01507046,cg20258154,...,cg13756898,cg05438378,cg25186332,cg07924503,cg03913050,cg12372912,cg10029130,cg27193204,cg15567507,cg17165848
0,3000,2,0.951552,0.915648,0.87687,0.871552,0.913168,0.876917,0.025490,0.015710,...,0.723449,0.325756,0.917926,0.289985,0.154252,0.919962,0.054931,0.878167,0.906558,0.065619
1,3002,1,0.957475,0.914869,0.86454,0.848403,0.887058,0.840248,0.021505,0.016806,...,0.809536,0.321502,0.887484,0.300905,0.182643,0.908645,0.067078,0.879973,0.891626,0.042422

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg07567767,cg07150866,cg21230719,cg11499262,cg22982510,cg06893785,cg01507046,cg20258154,ch.12.2471797R,...,cg13756898,cg05438378,cg25186332,cg07924503,cg03913050,cg12372912,cg10029130,cg27193204,cg15567507,cg17165848
0,2,0.951552,0.915648,0.87687,0.871552,0.913168,0.876917,0.025490,0.015710,0.029217,...,0.723449,0.325756,0.917926,0.289985,0.154252,0.919962,0.054931,0.878167,0.906558,0.065619
1,1,0.957475,0.914869,0.86454,0.848403,0.887058,0.840248,0.021505,0.016806,0.024404,...,0.809536,0.321502,0.887484,0.300905,0.182643,0.908645,0.067078,0.879973,0.891626,0.042422

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.8166666666666668
2
Mean accuracy: 0.75
3
Mean accuracy: 0.6499999999999999
4
Mean accuracy: 0.7166666666666667
5
Mean accuracy: 0.6833333333333333
6
Mean accuracy: 0.6833333333333333
7
Mean accuracy: 0.75
8
Mean accuracy: 0.7333333333333333
9
Mean accuracy: 0.7666666666666666
10
Mean accuracy: 0.6666666666666667
11
Mean accuracy: 0.75
12
Mean accuracy: 0.75
13
Mean accuracy: 0.7833333333333333
14
Mean accuracy: 0.7333333333333333
15
Mean accuracy: 0.7666666666666666
16
Mean accuracy: 0.7333333333333334
17
Mean accuracy: 0.7333333333333333
18
Mean accuracy: 0.7833333333333333
19
Mean accuracy: 0.7833333333333333
20
Mean accuracy: 0.7500000000000001
21
Mean accuracy: 0.85
22
Mean accuracy: 0.6833333333333333
23
Mean accuracy: 0.7666666666666667
24
Mean accuracy: 0.7666666666666666
25
Mean accuracy: 0.7666666666666667
26
Mean accuracy: 0.7166666666666667
27
Mean accuracy: 0.6833333333333333
28
Mean accuracy: 0.7666666666666666
29
Mean accuracy: 0.7666666666666667
30
Mean accuracy: 0.6666666666666667
31
Mean accuracy: 0.8166666666666667
32
Mean accuracy: 0.8333333333333334
33
Mean accuracy: 0.8666666666666668
34
Mean accuracy: 0.6666666666666666
35
Mean accuracy: 0.7666666666666668
36
Mean accuracy: 0.7000000000000001
37
Mean accuracy: 0.7500000000000001
38
Mean accuracy: 0.6499999999999999
39
Mean accuracy: 0.6833333333333333
40
Mean accuracy: 0.7333333333333334
41
Mean accuracy: 0.7666666666666667
42
Mean accuracy: 0.7499999999999999
43
Mean accuracy: 0.8333333333333334
44
Mean accuracy: 0.8333333333333333
45
Mean accuracy: 0.6666666666666667
46
Mean accuracy: 0.7333333333333333
47
Mean accuracy: 0.7333333333333333
48
Mean accuracy: 0.7333333333333334
49
Mean accuracy: 0.7833333333333333
50
Mean accuracy: 0.8333333333333334
51
Mean accuracy: 0.7499999999999999
52
Mean accuracy: 0.6833333333333333
53
Mean accuracy: 0.75
54
Mean accuracy: 0.7500000000000001
55
Mean accuracy: 0.7
56
Mean accuracy: 0.6666666666666666
57
Mean accuracy: 0.6666666666666667
58
Mean accuracy: 0.6166666666666666
59
Mean accuracy: 0.7666666666666667
60
Mean accuracy: 0.7166666666666666
61
Mean accuracy: 0.7666666666666667
62
Mean accuracy: 0.6666666666666667
63
Mean accuracy: 0.7999999999999999
64
Mean accuracy: 0.7666666666666667
65
Mean accuracy: 0.7166666666666667
66
Mean accuracy: 0.7333333333333334
67
Mean accuracy: 0.7500000000000001
68
Mean accuracy: 0.6499999999999999
69
Mean accuracy: 0.75
70
Mean accuracy: 0.7
71
Mean accuracy: 0.7333333333333334
72
Mean accuracy: 0.7833333333333333
73
Mean accuracy: 0.7500000000000001
74
Mean accuracy: 0.8
75
Mean accuracy: 0.7166666666666666
76
Mean accuracy: 0.7833333333333332
77
Mean accuracy: 0.7499999999999999
78
Mean accuracy: 0.7333333333333333
79
Mean accuracy: 0.75
80
Mean accuracy: 0.7333333333333334
81
Mean accuracy: 0.8666666666666668
82
Mean accuracy: 0.7166666666666667
83
Mean accuracy: 0.7166666666666667
84
Mean accuracy: 0.8166666666666667
85
Mean accuracy: 0.7666666666666667
86
Mean accuracy: 0.7
87
Mean accuracy: 0.6666666666666667
88
Mean accuracy: 0.75
89
Mean accuracy: 0.8
90
Mean accuracy: 0.7333333333333333
91
Mean accuracy: 0.8
92
Mean accuracy: 0.7
93
Mean accuracy: 0.7666666666666667
94
Mean accuracy: 0.65
95
Mean accuracy: 0.7166666666666666
96
Mean accuracy: 0.8333333333333334
97
Mean accuracy: 0.7166666666666666
98
Mean accuracy: 0.7833333333333334
99
Mean accuracy: 0.6499999999999999
100
Mean accuracy: 0.7166666666666666

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Urine_Boruta50CpG_Female_100RF.csv", index = False)

0.7411666666666668

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('NMI_Top50_Urine_Methylome_Female.csv')
print(df.shape)
df.head(2)

(150, 52)

,PATNO,APPRDX,cg26889735,cg10695325,cg20080383,cg17594730,cg25696758,cg15109118,ch.12.2471797R,cg03802461,...,cg21289555,cg04744937,cg25909697,cg13561532,cg11271345,cg01583131,cg17413943,cg18257689,cg05138704,cg10170677
0,3002,1,0.893980,0.076813,0.644179,0.905597,0.877105,0.887928,0.024404,0.034039,...,0.917849,0.923493,0.665377,0.843749,0.897880,0.166815,0.202782,0.033565,0.927341,0.040138
1,3003,1,0.902188,0.076971,0.461084,0.937221,0.884699,0.876819,0.030409,0.043548,...,0.935283,0.907548,0.595578,0.936380,0.887159,0.190020,0.120270,0.027489,0.922447,0.031677

In [16]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg26889735,cg10695325,cg20080383,cg17594730,cg25696758,cg15109118,ch.12.2471797R,cg03802461,cg21909650,...,cg21289555,cg04744937,cg25909697,cg13561532,cg11271345,cg01583131,cg17413943,cg18257689,cg05138704,cg10170677
0,1,0.893980,0.076813,0.644179,0.905597,0.877105,0.887928,0.024404,0.034039,0.896688,...,0.917849,0.923493,0.665377,0.843749,0.897880,0.166815,0.202782,0.033565,0.927341,0.040138
1,1,0.902188,0.076971,0.461084,0.937221,0.884699,0.876819,0.030409,0.043548,0.922939,...,0.935283,0.907548,0.595578,0.936380,0.887159,0.190020,0.120270,0.027489,0.922447,0.031677

In [17]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7333333333333333
2
Mean accuracy: 0.7333333333333334
3
Mean accuracy: 0.7666666666666666
4
Mean accuracy: 0.7
5
Mean accuracy: 0.65
6
Mean accuracy: 0.75
7
Mean accuracy: 0.7666666666666667
8
Mean accuracy: 0.6833333333333333
9
Mean accuracy: 0.8
10
Mean accuracy: 0.7666666666666666
11
Mean accuracy: 0.8
12
Mean accuracy: 0.75
13
Mean accuracy: 0.7166666666666667
14
Mean accuracy: 0.6666666666666666
15
Mean accuracy: 0.75
16
Mean accuracy: 0.7333333333333334
17
Mean accuracy: 0.8166666666666668
18
Mean accuracy: 0.7833333333333333
19
Mean accuracy: 0.7833333333333332
20
Mean accuracy: 0.7333333333333333
21
Mean accuracy: 0.75
22
Mean accuracy: 0.7666666666666667
23
Mean accuracy: 0.8333333333333334
24
Mean accuracy: 0.6333333333333333
25
Mean accuracy: 0.8
26
Mean accuracy: 0.7833333333333334
27
Mean accuracy: 0.7333333333333334
28
Mean accuracy: 0.7666666666666666
29
Mean accuracy: 0.75
30
Mean accuracy: 0.7499999999999999
31
Mean accuracy: 0.7833333333333333
32
Mean accuracy: 0.7833333333333334
33
Mean accuracy: 0.7833333333333333
34
Mean accuracy: 0.6666666666666666
35
Mean accuracy: 0.7666666666666666
36
Mean accuracy: 0.8333333333333334
37
Mean accuracy: 0.8166666666666668
38
Mean accuracy: 0.7833333333333333
39
Mean accuracy: 0.75
40
Mean accuracy: 0.7166666666666666
41
Mean accuracy: 0.7166666666666667
42
Mean accuracy: 0.7666666666666666
43
Mean accuracy: 0.8166666666666668
44
Mean accuracy: 0.7666666666666667
45
Mean accuracy: 0.7833333333333333
46
Mean accuracy: 0.7499999999999999
47
Mean accuracy: 0.6833333333333333
48
Mean accuracy: 0.75
49
Mean accuracy: 0.7833333333333334
50
Mean accuracy: 0.8166666666666668
51
Mean accuracy: 0.75
52
Mean accuracy: 0.6333333333333333
53
Mean accuracy: 0.7166666666666666
54
Mean accuracy: 0.7666666666666667
55
Mean accuracy: 0.7333333333333334
56
Mean accuracy: 0.7333333333333334
57
Mean accuracy: 0.7833333333333334
58
Mean accuracy: 0.7333333333333334
59
Mean accuracy: 0.7666666666666666
60
Mean accuracy: 0.7833333333333333
61
Mean accuracy: 0.7666666666666667
62
Mean accuracy: 0.7
63
Mean accuracy: 0.7666666666666666
64
Mean accuracy: 0.7833333333333334
65
Mean accuracy: 0.7166666666666666
66
Mean accuracy: 0.7
67
Mean accuracy: 0.7500000000000001
68
Mean accuracy: 0.7333333333333333
69
Mean accuracy: 0.7833333333333333
70
Mean accuracy: 0.7500000000000001
71
Mean accuracy: 0.6833333333333333
72
Mean accuracy: 0.7333333333333333
73
Mean accuracy: 0.7833333333333333
74
Mean accuracy: 0.6833333333333332
75
Mean accuracy: 0.7333333333333333
76
Mean accuracy: 0.8166666666666667
77
Mean accuracy: 0.7666666666666666
78
Mean accuracy: 0.7166666666666666
79
Mean accuracy: 0.7666666666666666
80
Mean accuracy: 0.75
81
Mean accuracy: 0.7833333333333332
82
Mean accuracy: 0.8
83
Mean accuracy: 0.7833333333333333
84
Mean accuracy: 0.8
85
Mean accuracy: 0.7499999999999999
86
Mean accuracy: 0.7333333333333334
87
Mean accuracy: 0.7166666666666666
88
Mean accuracy: 0.7666666666666667
89
Mean accuracy: 0.8
90
Mean accuracy: 0.7
91
Mean accuracy: 0.7333333333333333
92
Mean accuracy: 0.85
93
Mean accuracy: 0.7666666666666667
94
Mean accuracy: 0.7333333333333333
95
Mean accuracy: 0.7666666666666666
96
Mean accuracy: 0.8166666666666668
97
Mean accuracy: 0.7833333333333333
98
Mean accuracy: 0.7833333333333332
99
Mean accuracy: 0.5833333333333334
100
Mean accuracy: 0.75

In [18]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Urine_NMI50CpG_Female_100RF.csv", index = False)

0.7524999999999997

## RanFor Top 50 Boruta + NMI 100 times. Samples = 91

In [19]:
df = pd.read_csv('Urine_Top50sMerge_Data_Female.csv')
print(df.shape)
df.head(2)

(150, 93)

,PATNO,APPRDX,cg26889735,cg10695325,cg20080383,cg17594730,cg25696758,cg15109118,ch.12.2471797R,cg03802461,...,cg07110488,cg25793587,cg05438378,cg25186332,cg07924503,cg03913050,cg12372912,cg10029130,cg27193204,cg15567507
0,3002,1,0.893980,0.076813,0.644179,0.905597,0.877105,0.887928,0.024404,0.034039,...,0.910569,0.804496,0.325756,0.917926,0.289985,0.154252,0.919962,0.054931,0.878167,0.906558
1,3003,1,0.902188,0.076971,0.461084,0.937221,0.884699,0.876819,0.030409,0.043548,...,0.862993,0.671177,0.321502,0.887484,0.300905,0.182643,0.908645,0.067078,0.879973,0.891626

In [20]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg26889735,cg10695325,cg20080383,cg17594730,cg25696758,cg15109118,ch.12.2471797R,cg03802461,cg21909650,...,cg07110488,cg25793587,cg05438378,cg25186332,cg07924503,cg03913050,cg12372912,cg10029130,cg27193204,cg15567507
0,1,0.893980,0.076813,0.644179,0.905597,0.877105,0.887928,0.024404,0.034039,0.896688,...,0.910569,0.804496,0.325756,0.917926,0.289985,0.154252,0.919962,0.054931,0.878167,0.906558
1,1,0.902188,0.076971,0.461084,0.937221,0.884699,0.876819,0.030409,0.043548,0.922939,...,0.862993,0.671177,0.321502,0.887484,0.300905,0.182643,0.908645,0.067078,0.879973,0.891626

In [21]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7333333333333334
2
Mean accuracy: 0.7666666666666667
3
Mean accuracy: 0.7666666666666667
4
Mean accuracy: 0.6833333333333333
5
Mean accuracy: 0.6833333333333333
6
Mean accuracy: 0.7333333333333334
7
Mean accuracy: 0.8166666666666668
8
Mean accuracy: 0.7166666666666666
9
Mean accuracy: 0.7666666666666666
10
Mean accuracy: 0.7666666666666667
11
Mean accuracy: 0.8166666666666668
12
Mean accuracy: 0.7166666666666667
13
Mean accuracy: 0.7
14
Mean accuracy: 0.6833333333333333
15
Mean accuracy: 0.7166666666666667
16
Mean accuracy: 0.5833333333333333
17
Mean accuracy: 0.7333333333333333
18
Mean accuracy: 0.7666666666666667
19
Mean accuracy: 0.8166666666666668
20
Mean accuracy: 0.7666666666666668
21
Mean accuracy: 0.8
22
Mean accuracy: 0.8166666666666667
23
Mean accuracy: 0.7
24
Mean accuracy: 0.7333333333333333
25
Mean accuracy: 0.7333333333333334
26
Mean accuracy: 0.7666666666666667
27
Mean accuracy: 0.7666666666666668
28
Mean accuracy: 0.6500000000000001
29
Mean accuracy: 0.8
30
Mean accuracy: 0.65
31
Mean accuracy: 0.7166666666666668
32
Mean accuracy: 0.65
33
Mean accuracy: 0.7499999999999999
34
Mean accuracy: 0.6333333333333332
35
Mean accuracy: 0.7666666666666667
36
Mean accuracy: 0.8166666666666668
37
Mean accuracy: 0.85
38
Mean accuracy: 0.6833333333333333
39
Mean accuracy: 0.75
40
Mean accuracy: 0.8
41
Mean accuracy: 0.7166666666666666
42
Mean accuracy: 0.7333333333333332
43
Mean accuracy: 0.8166666666666668
44
Mean accuracy: 0.6666666666666667
45
Mean accuracy: 0.75
46
Mean accuracy: 0.7333333333333333
47
Mean accuracy: 0.7333333333333334
48
Mean accuracy: 0.6833333333333333
49
Mean accuracy: 0.8
50
Mean accuracy: 0.8
51
Mean accuracy: 0.8
52
Mean accuracy: 0.6833333333333333
53
Mean accuracy: 0.7166666666666667
54
Mean accuracy: 0.7666666666666666
55
Mean accuracy: 0.7666666666666666
56
Mean accuracy: 0.7666666666666667
57
Mean accuracy: 0.75
58
Mean accuracy: 0.7166666666666666
59
Mean accuracy: 0.7666666666666666
60
Mean accuracy: 0.7166666666666666
61
Mean accuracy: 0.7499999999999999
62
Mean accuracy: 0.7
63
Mean accuracy: 0.7333333333333333
64
Mean accuracy: 0.8333333333333333
65
Mean accuracy: 0.7
66
Mean accuracy: 0.7000000000000001
67
Mean accuracy: 0.75
68
Mean accuracy: 0.7666666666666666
69
Mean accuracy: 0.7166666666666666
70
Mean accuracy: 0.7833333333333334
71
Mean accuracy: 0.6666666666666667
72
Mean accuracy: 0.7166666666666668
73
Mean accuracy: 0.7833333333333334
74
Mean accuracy: 0.6833333333333333
75
Mean accuracy: 0.7166666666666667
76
Mean accuracy: 0.8
77
Mean accuracy: 0.7666666666666667
78
Mean accuracy: 0.7
79
Mean accuracy: 0.7833333333333333
80
Mean accuracy: 0.7333333333333334
81
Mean accuracy: 0.7333333333333333
82
Mean accuracy: 0.7166666666666667
83
Mean accuracy: 0.7
84
Mean accuracy: 0.8
85
Mean accuracy: 0.6833333333333333
86
Mean accuracy: 0.7166666666666666
87
Mean accuracy: 0.6666666666666666
88
Mean accuracy: 0.7499999999999999
89
Mean accuracy: 0.7833333333333334
90
Mean accuracy: 0.7166666666666667
91
Mean accuracy: 0.7666666666666667
92
Mean accuracy: 0.8166666666666667
93
Mean accuracy: 0.7666666666666667
94
Mean accuracy: 0.7833333333333333
95
Mean accuracy: 0.7166666666666667
96
Mean accuracy: 0.85
97
Mean accuracy: 0.7166666666666666
98
Mean accuracy: 0.6833333333333333
99
Mean accuracy: 0.55
100
Mean accuracy: 0.7666666666666667

In [22]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Urine_Top50sCpG91_Female_100RF.csv", index = False)

0.7391666666666665